<a href="https://colab.research.google.com/github/pedroafleite/data_etl/blob/main/data_etl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!pip install flatten_json

Collecting flatten_json
  Downloading flatten_json-0.1.13.tar.gz (11 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from flatten_json) (1.15.0)
Building wheels for collected packages: flatten-json
  Building wheel for flatten-json (setup.py) ... done
  Created wheel for flatten-json: filename=flatten_json-0.1.13-py3-none-any.whl size=7979 sha256=e717de244d0d0730ead41bc063df76623afd22bfd26bfddb5357e88cd2012d2c
  Stored in directory: /root/.cache/pip/wheels/e6/b3/2a/beb2ceb72d11bf335f9c2f87aae26981f6744f3fc885cde665
Successfully built flatten-json
Installing collected packages: flatten-json
Successfully installed flatten-json-0.1.13

In [4]:
import pandas as pd
import json
from flatten_json import flatten

In [5]:
infomix = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_etl/data_etl_test/infomix.tsv', sep='\t')
infomix.head()

             cnpj           gtin               category
0   8540603000198  6890101502534        massas e molhos
1  71322150004408  7898605250417               cervejas
2  43235985000732  7896000724465                 cabelo
3  47508411134004  7896102589122  conservas e enlatados
4  47508411135833  7895000474646             bomboniere

In [6]:
cnpj_raw = pd.read_json('/content/drive/MyDrive/Colab Notebooks/data_etl/data_etl_test/cnpjs_receita_federal.jl', lines=True)
cnpj_json = json.loads(cnpj_raw.to_json(orient="records"))
cnpj_flat = (flatten(record, '.') for record in cnpj_json)
cnpj = pd.DataFrame(cnpj_flat)
cnpj.head()

# Razao social: response.nome
# CNPJ: cnpj
# Cidade: response.municipio
# Estado: response.uf

                                     id  ...  response.qsa.12.qual_rep_legal
0  99068e55-1018-47e7-91a9-44cded045033  ...                             NaN
1  c475b934-eef1-488e-8f6a-b6087ef32b9b  ...                             NaN
2  e013ecef-c884-4155-905c-c8b1a998abf6  ...                             NaN
3  03bc0063-69d6-4381-a7c6-61d9bd01dd05  ...                             NaN
4  07e1f38f-cef6-49d0-89be-4f2c135a1538  ...                             NaN

[5 rows x 381 columns]

In [7]:
gs1_raw = pd.read_json('/content/drive/MyDrive/Colab Notebooks/data_etl/data_etl_test/gs1.jl', lines=True)
gs1_json = json.loads(gs1_raw.to_json(orient="records"))
gs1_flat = (flatten(record, '.') for record in gs1_json)
gs1 = pd.DataFrame(gs1_flat)
gs1.head()

                                     id  ...  response.gepirParty.partyDataLine.gS1CompanyPrefixLicensee.additionalPartyIdentification.additionalPartyIdentificationTypeCode
0  b6aee075-6489-4bb3-abe9-5da6cee3cf71  ...                                                NaN
1  a49e7c08-6788-48bf-8061-d24f48374260  ...                                                NaN
2  cff33125-645e-4805-84bc-eca5a86c8c77  ...                                                NaN
3  2d6c1dc7-33c8-44cd-be3f-16127a712962  ...                                                NaN
4  49051030-1d06-4a3a-a699-ffce780cc6cd  ...                                                NaN

[5 rows x 120 columns]

In [11]:
descricoes = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_etl/data_etl_test/descricoes_externas.tsv', sep='\t')
descricoes.head()

        id  ...  flag_infoprice
0  2482686  ...            True
1  2482685  ...           False
2  2482684  ...           False
3  2482683  ...           False
4  2482682  ...           False

[5 rows x 4 columns]

In [12]:
cosmos_raw = pd.read_json('/content/drive/MyDrive/Colab Notebooks/data_etl/data_etl_test/cosmos.jl', lines=True)
cosmos_json = json.loads(cosmos_raw.to_json(orient="records"))
cosmos_flat = (flatten(record, '.') for record in cosmos_json)
cosmos = pd.DataFrame(cosmos_flat)
cosmos.head()

                                     id  ...  response.units
0  16bde255-988c-466b-9d35-39b706b9fbda  ...             NaN
1  96f61c2b-5057-439c-9717-847efe5ea7a5  ...             NaN
2  8ee42cd3-4200-45dc-a10f-6b9e62bc5127  ...             NaN
3  bda1d82f-cfad-482c-a243-65ae7f04a7bd  ...             NaN
4  427b4261-d73d-4c13-a085-d9d5bb988c39  ...             NaN

[5 rows x 26 columns]

In [42]:
df = infomix.set_index("gtin").join(descricoes.set_index("gtin"), how="left", on="gtin")
df = df.join(cosmos.set_index("gtin").rename(columns={'id': 'id_cosmos', 'response.status': 'response.status_cosmos', 'created_at': 'created_at_cosmos'}), how="left", on="gtin")
df = df.join(gs1.set_index("gtin").rename(columns={'id': 'id_gs1', 'response.status': 'response.status_gs1', 'created_at': 'created_at_gs1'}), how="left", on="gtin")
df = df.reset_index().set_index("cnpj").join(cnpj.set_index("cnpj").rename(columns={'id': 'id_cnpj'}), how="left", on="cnpj")

In [37]:
df['response.status_gs1'].value_counts()

OK                  377480
ERROR                 3373
CONNECTION_ERROR      1227
Name: response.status_gs1, dtype: int64

In [43]:
# validacao consiste em verificar se o status na tabela gs1 está OK
df = df.loc[(df['response.status_gs1'] == 'OK')]
df = df.reset_index().drop_duplicates(subset=['gtin', 'cnpj']).head()
df = df[['gtin', 'cnpj', 'response.nome', 'response.municipio', 'response.uf', 'description', 'category']]
df = df.rename(columns={'response.nome': 'razao_social', 'response.municipio': 'municipio', 'response.uf': 'uf', 'description': 'descricao', 'category': 'categoria'})
df.head()

             gtin  ...              categoria
0   6890101502534  ...        massas e molhos
1   7898605250417  ...               cervejas
19  7896000724465  ...                 cabelo
25  7896102589122  ...  conservas e enlatados
61  7895000474646  ...             bomboniere

[5 rows x 7 columns]